
/*Đây là màu cho thẻ H1*/
h1{
	color: red;
}	
span{
	color: red;
}
h2{
	color: green;
}
h2{
	font-size: 14;
}
<p style="
    width: 890.8;
    padding-left: 26px;
">Một ví dụ tiếp theo để dùng P, và dùng css để kéo dãn vị trí</p>