div{
	height: 320px;
	width: 320px;
	border: 1px solid black;
	border-radius: 10px;
}

img{
	padding-left:	10px;
	padding-top:	10px;
}
a{
	text-decoration: none;
}

#tenNhanVat{
	width: 310px;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 10px;
}