main{
	padding-top: 5%;
	height: 450px;
	width: 80%;
	border: 1px solid black;
}
h1{
	padding-left: 30%;
	text-shadow: 2px 2px 2px #cc0000;
}
#main{
	float: right;
	height: 290px;
	width:	510px;
	border: 1px solid black;	
}
#ip7p{
	padding-right: 5px;
	padding-top: 5px;
	float: right;
	height: 280px;
	width:	500px;
}

div{
	margin: 10px;
}
#oVuong{
	border-radius: 5px;
	background-color: #ECF9F9;
	float: left;
	margin-left: 5%;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid black;
	width: 155px;
}

span{
	margin-top: 5px;
	padding-left: 39px;
}